<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1048576" />
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <add name="Lab3" connectionString="server=aamv5f3krf8v92.cscnzjlbxtvh.us-east-1.rds.amazonaws.com;database=Capstone;uid=admin;password=JMUdukes2021" />
    <add name="AUTH" connectionString="server=aamv5f3krf8v92.cscnzjlbxtvh.us-east-1.rds.amazonaws.com;database=AUTH;uid=admin;password=JMUdukes2021" />
  </connectionStrings>
</configuration>